/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Fredoka', sans-serif;
    font-size: 100%;
}

.container{
    width: 60%;
    margin: 0 auto;
    font-size: small;
}

h1,p{
    text-align: center;
    padding-top: 1.3em;
}

h1{
    color: #e53170;
}

.col{
    width: calc(100% / 3 - 3em); 
    margin-right: 1.5em; 
    margin-top: 1em; 
    float: left; 
    color: white; 
    background-color: rgb(15 14 23); 
    box-shadow: 4px 4px 4px black;  
}

img{
    width: 70px;
}

.email{
    color: #4dccf2;
}

.name{
    display: inline-block;
    padding: .8em;
}

