/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Fredoka', sans-serif;
    font-size: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
    font-size: small;
}

h1,p{
    text-align: center;
    padding-top: 1.3em;
}

h1{
    color: #e53170;
}

.col > img{
        width: calc(100% / 3);
        padding: 0 .8em;
}

img{
    float: left;
}

.email{
    color: #4dccf2;
}